body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
}

#apple{
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px auto;
    max-width: 100px;
}

#orange {
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
    max-width: 100px;
    margin:10px auto;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    
}